<%- include('./partials/head')  %>
<%- include('./partials/header')  %>
<!-- Novedades -->
<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <% if(encontroResultados){%>
            <div class="buscador_res"><h1 class="products-title">Estos son los resultados de tu busqueda "<%= busqueda %>"</h1> </div>
        
        <% for(let i = 0; i<resultados.length; i++){ %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/descripcion/<%=resultados[i].id%>">
                        <figure class="product-box_image">
                            <img src=<%= resultados[i].image %> alt="foto de <%= resultados[i].nombre %>">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= resultados[i].nombre %></h2> 
                            <p><%= resultados[i].clientes?.nombre %> <br><%= resultados[i].descripcion %></p>
                            <p>comentarios: </p>

                        </article>
                    </a>
                </section>
            </div>
                <%}%>
        <ul>
            <%for(let i = 0; i < resultados.length ; i++){%>
                <li><%= resultados[i].nombre%></li>
                <li><%= resultados[i].descripcion%></li>
            <%}%>
        </ul>
        <%} else {%>
            <h2 class="products-title">No hay resultados para su criterio de búsqueda</h2>
        <%}%>
    </div>
</div>
<%- include('./partials/footer')  %>