<%- include('./partials/head')  %>
<%- include('./partials/header')  %>

<div class="container products-wrapper">
    
    <div class="d-flex align-items-center">
         
        <h2 class="products-title"><%= data.nombre %></h2> 
        <% if(locals.clientes){ %>
            <%  if(locals.clientes.id == data.prodclientes.id){ %>
                <ul class="left-navbar">
            <p class="product-detail-description2"><a href="/productos/editar_prod/<%= data.id %>">Editar</a></p></ul>
            <form action="/productos/delete" method="POST">
                <input type="submit" value="Eliminar Producto" />
            </form>
            <% } %>
            
        <% } %>
    </div>
    <div class="product-detail">
    
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <p class="product-detail-description_hover"> <a href="/users/perfil/<%= data.prodclientes.id %>"> Usuario: <%= data.prodclientes.nombre %></a></p>
                <img src=<%= data.image %> alt="" class="product-detail-img">
                <p class="product-detail-description"><%= data.descripcion %></p>
            </article>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                    <% for(let i=0; i<data.coment.length; i++){ %> 
                    <article>
                        <img src="<%= data.coment[i].clientes.foto_de_perfil%>" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/perfil/<%= data.coment[i].clientes.id %>"<%= data.id%>><%= data.coment[i].clientes.nombre %> </a> </strong>
                            <%= data.coment[i].comentario %></p>
                        </div>
                    </article>
                    <%}%>
                </section>
                <% if (locals.clientes != undefined){ %>
                <form class="form" action="/productos/comentarioAdd" method="POST">
                    <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
                    <input type="text" name="producto_id" value="<%= data.id%>" hidden> 
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <% } %>
                <% if(locals.clientes == undefined) { %>
                    <p class="product-detail-description_hover"><a href="/users/login">Debe estar logueado para comentar</a></p>
                <% } %>
                <hr>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer')  %>