<%- include('./partials/head')  %>
<%- include('./partials/header')  %>
<!-- Datos del usuario "https://via.placeholder.com/150"-->
<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="products-title"><%= clientes.nombre %></h1><br>
                <h1 class="main-title">
                    <a href="/users/editar/">
                        <i class="fas fa-cog"></i>
                    </a>
                </h1>
                <a class="btn mt-3 ml-4" href="">SEGUIR</a>
            </div>
        </div>
        </div>
    </div>
</section>

<div class="container products-wrapper">
    <div class="row"> 
        <section>
            <article>
                <div>
                    <h1 class="products-title">Nombre: <%= clientes.nombre %></h1>
                </div>
                <p class="products-title">Fecha de nacimiento: <%= clientes.fecha_de_nacimiento %></p>
                <p class="products-title">Documento: <%= clientes.dni %></p>
                <p class="products-title"> <%= clientes.foto_de_perfil %></p>
                <div>
                    <a class="products-title" href="/users/editar/">Editar perfil</a>
                </div>
                <form action="/users/delete/<%= clientes.id %>" method="POST">
                    <input type="submit" value="Borrar cuenta" />
                </form>
            </article>
        </section>
    </div>
<%- include('./partials/footer')  %>